*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
build/*.jar
.settings
.cache
work/
out/
.DS_Store
target/
.project
.classpath
.scala_dependencies
logs/
log/
checkpoint
derby.log
dist/

